@import "tailwindcss";

:root {
  font-family: 'Outfit', sans-serif;
  color-scheme: dark;
}

body {
  background-color: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* slate-900 */
}

::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}
